*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
button{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 85%;
    margin: auto;
    height: 10vh;
    align-items: center;
    font-size: 15px;
    color: #EB455F
}

.head:hover{
    font-size: 20px;
}

.logo-container, .nav-links, .cart{
    display: flex;
} 
.logo-container{
    flex: 1;
}
.logo-img{
    height: 10vh;
    position: relative;
}

nav{
    flex: 2;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.nav-link {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: gray;
}
.nav-link:hover{
    color: #EB455F;
}

nav .openMenu{
    font-size: 2rem;
}

.cart{
    flex: 1;
    justify-content: flex-end;
}
.img-cart{
    height: 5vh;
}
.img-cart:hover{
    height: 5.5vh;
    transition: 0.4s;
}

.presentation{
    display: flex;
    width: 85%;
    align-items: center;
    margin: auto;
    min-height: 80vh;
}

.introduction{
    flex:1;
}
.intro-text h1{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right, #850000, #EB455F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    color: gray;
}

.cta{
    margin-top: 30px;
    text-decoration: none;
}

.cta-review{
    border: 3px solid #EB455F;
    background: transparent;
    color: #EB455F;
    width: 130px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

.cta-add{
    border: 3px solid #EB455F;
    background-color: #EB455F;
    color: white;
    width: 130px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 5%;
    text-decoration: none;
}

.cover{
    flex: 1;
    padding-left: 12vh;
}
.cover img{
    height: 50vh;
    filter: drop-shadow(0px 3px 6px #EB455F);
    animation: drop 2s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 90%;
}

.mid-circle{
    position: absolute;
    top: 25%;
    right: 20%;
    z-index: -1;
    opacity: 0.4;
    height: 70%;
}
.small-circle {
    position: absolute;
    bottom: 0px;
    right: 45%;
    z-index: -2;
    opacity: 1;
    height: 40%;
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 500px){
    .presentation{
        flex-direction: column;
        text-align: center;
        margin-left: 3.5vh;
    }
    .nav-link{
        font-size: 15px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .introduction{
        text-align: center;
        margin-top: 5vh;

    }
    .intro-text h1{
        font-size: 25px;
    }
    
    .cover img{
        height: 26vh;
        margin-top: 6vh;
        margin-right: 10vh;
    }
    .logo-img{
        height: 8vh;
    }
    .img-cart{
        height: 3.5vh;
        margin-left: 7px;
    }
    .img-cart:hover{
        height: 4vh;
    }
    .introduction p{
        font-size: 14px;
    }

        .big-circle {
            position: absolute;
            top: 5%;
            left: 22%;
            z-index: -1;
            opacity: 0.5;
            height: 60%;
        }
    
        .mid-circle {
            position: absolute;
            top: 10%;
            right: 10%;
            z-index: -1;
            opacity: 0.4;
            height: 70%;
        }
        .small-circle {
            position: absolute;
            top: 60%;
            left: 15%;
            z-index: -2;
            opacity: 1;
            height: 40%;
        }
        .cta-review {
            border: 2px solid #EB455F;
            background: transparent;
            color: #EB455F;
            width: 100px;
            height: 30px;
            cursor: pointer;
            font-size: 15px;
            text-decoration: none;
        }
    
        .cta-add {
            border: 3px solid #EB455F;
            background-color: #EB455F;
            color: white;
            width: 100px;
            height: 30px;
            cursor: pointer;
            font-size: 15px;
            margin-left: 5%;
            text-decoration: none;
        }

}
